body {  
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease;
    color: #000000;
}

h1 {
    text-align: center;
}

#scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.score-box {
    width: 80px;
    padding: 8px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
}

.score-box h2 {
    margin: 0;
    font-size: 18px;
}

.score-box p {
    margin: 5px 0 0 0;
    font-size: 22px;
    font-weight: bold;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: #FFFFE0;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    font-size: 18px;
}

#restartButton:hover {
    background-color: #000000;
    color: #FFFFFF;
}